@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: gray;
}

a:focus, 
a:hover {
  color: darkgray;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.footer,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background: #eee;
}

.left-links,
.right-links {
  list-style: none;
  padding: 10px;
  margin: 0px;
  display: flex;
  gap: 10px;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.input {
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}